#title{
    background-color: #ff4c68;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.head1{
    font-family: 'Montserrat',sans-serif;
    font-weight: revert-layer;
    font-size: 3rem;
    line-height: 1.5;
}
/*font-family: 'Ubuntu',
sans-serif;
*/
.container-fluid{
    padding: 3% 15% 5% !important; 
}
.img-1{
transform: rotate(25deg);
width: 60%; 
position: absolute;
right: 20%;

}
.head1{
    color: white;
}
.navbar{
    padding: 0 0 4.5rem !important;
}
.navbar-brand{
    font-family: 'Ubuntu' !important;
    font-size: 2.3rem !important;
    font-weight: bold !important;
}
.nav-item{
    padding: 18px;

}
.nav-link{
    font-size: 1rem;
    font-family: 'Montserrat';
}
.download-button{
    margin:5% 3% 5% 0;
}
#features{
    padding: 7% 15%;
    position: absolute;
    z-index: 1;
    background-color: #fff;
}
.feature-box{
    text-align: center;
    color: #8f8f8f;
}
h3{
    font-family: 'Montserrat';
    font: 1.5rem;
    
}
.icon{
    margin-bottom: 1rem;
    color: #ef8172;
}
.icon:hover{
    color: #ff4c68;
}
#testimonials{
text-align: center;
color: #fff;
margin: 28% 0% 0% 0%;
background-color: #ef8172;
 
}
.carousel-item {
    padding: 7% 15%;
}
.testimonials-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
.testimonials-image{
width: 10%;
border-radius: 100%;
padding: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 20px 50px;
}
/*priceing*/
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
/*CTA section */
#cta{
    background-color: #ff4c68;
    color: #fff;
    text-align: center;
    padding: 7% 15%;
}
/*footer*/
#footer{
    text-align: center;
    background-color: #fff;
    padding: 7% 10%;
}
.spacing{
    padding: 2% 1%;
}



/*import tttttttttttttttt*/
@media (max-width:1028px) {
    #title{
        text-align: center;
    }
    .img-1{
        position: static;
        transform: rotate(0);
    }
}